<div id="Profile">

  <div class="inner">
  <div class="container">
  <div class="row">
  <div class="col-sm-12">
    <%= render 'user_info' %>
  </div>
  </div>
  </div>
  </div>

  <div class="container">
  <div class="row">
  <div class="col-sm-12">
    <section class="timbre_list">
      <% if @user.timbres.any? %>
        <ul class="timbres">
          <%= render partial: 'timbres/timbre', collection: @timbres %>
        </ul>
      <% end %>
    </section>
  </div>
  </div>
  </div>

</div>

<%= javascript_include_tag 'play' %>