<div id="Home">

  <div class="inner">
  <div class="container">
  <div class="row">
  <div class="col-sm-12">
    <%= render 'user_info' %>
  </div>
  </div>
  </div>
  </div>
  
  <% if @timbres.any? %>
  <div class="container">
  <div class="row">
  <div class="col-sm-12">
    <section class="list">
        <ul class="clearfix">
          <%= render partial: 'timbres/timbre', collection: @timbres %>
        </ul>
    </section>
  </div>
  </div>
  </div>
  <% end %>

</div>

<%= javascript_include_tag 'play' %>