<div class="clearfix">
  <div class="avatar"><%= link_to gravatar_for(current_user, size: 72), current_user %></div>
  <div class="name"><%= link_to current_user.name, current_user %></div>
</div>
<ul class="clearfix">
  <li>
    <div class="status_label">ティンバー</div>
    <div class="status_value"><%= link_to current_user.timbres.count, '#' %></div>
  </li>
  <li>
    <div class="status_label">フォロー</div>
    <div class="status_value"><a href="#">0</a></div>
  </li>
  <li>
    <div class="status_label">フォロワー</div>
    <div class="status_value"><a href="#">0</a></div>
  </li>
</ul>