<% if logged_in? %>
  <div id="Home">
    <div class="container">
    <div class="row">
    <div class="col-sm-12">
      <h1></h1>
    </div>
    </div>
    </div>
  </div>
<% else %>
  <div id="Top">
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-12">
      <header>
        <div class="headline">
          <h1>♫<span> is Awesome:)</span></h1>
          <div class="description">
            みんなでオリジナルソングを作って歌って奏でるサービスです。<br>
            ただいま、(仮)版。
          </div>
          <p class="button"><%= link_to 'さっそく奏でてみる' , login_path, class: "btn btn-default" %></p>
          <p class="notice">Chrome推奨<br>WebAudioAPIに対応しているブラウザのみ</p>
        </div>
      </header>
      <section class="list">
        <h1>- みんなのうた -</span></h1>
        <% if @timbres.any? %>
          <ul class="clearfix">
            <%= render partial: 'timbres/timbre', collection: @timbres %>
          </ul>
        <% end %>
      </section>
    </div>
    </div>
    </div>
  </div>
  <%= javascript_include_tag 'play' %>
<% end %>
