<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/timbre_form' %>
      </section>
    </aside>
  </div>
<% else %>
<div id="Home">
  <h1>We're enjoying Otogram!!</h1>
</div>
<% end %>