<% if logged_in? %>
  <div id="Home" class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>

      <section class="timbre_form">
        <%= render 'timbres/timbre_form' %>
      </section>
    </aside>
  
    <div class="col-md-8">
      <section class="timbre_list">
        <% if current_user.timbres.any? %>
          <ul class="timbres">
            <%= render partial: 'timbres/timbre', collection: @timbres %>
          </ul>
        <% end %>
      </section>
    </div>

  </div>
<% else %>
  <div id="Top" class="row">
    <div class="col-md-12">
      <h1>We're enjoying Otogram!!</h1>
    </div>
  </div>
<% end %>
