/* breakpointの変更 */
$screen-sm-min: 0px;
$screen-md-min: 0px;
$screen-lg-min: none;

@import "bootstrap-sprockets";
@import "bootstrap";
/*------------------------------------------------------------------------------
html5doctor.com Reset v1.6.1 - http://cssreset.com
------------------------------------------------------------------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
/*------------------------------------------------------------------------------
base
------------------------------------------------------------------------------*/
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック", "MS PGothic",sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f6f6f6;
  word-break: break-all;/*半角英数字折り返す*/
}
a {
  color: #369;
  outline:none;/*点線ハック*/
  -webkit-tap-highlight-color: rgba(0,0,0,0);/*タップカラー*/
}
a:hover {
  color: #369;
}
a.disable {
  cursor: default;
}
li {
  list-style: none;
}
hr {
  margin: 0;
  border: 0;
  height: 1px;
  background: #000;
}
img {
  display: block;/*隙間ハック*/
}
.img_responsive {
  max-width: 100%;
  height: auto;
  width /***/:auto;/*IE8用*/
  display: block;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.text_hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.text_overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*------------------------------------------------------------------------------
reset bootstrap
------------------------------------------------------------------------------*/
/* header */
.navbar-default {
  background-color: #fff;
  border-color: #e6e6e6;
}
.navbar-default .navbar-brand {
  font-weight: bold;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #333;
}
.navbar-nav {
  .gravatar {
    margin-right: 2px;
    line-height: 20px;
    img {
      display: inline;
    }
  }
}
/* form */
input[type="submit"] {
  font-weight: bold;
}
#error_explanation {
  ul {
    margin-bottom: 20px;
  }
  li {
    color: red;
    font-size: 14px;
    list-style-type: disc;
    list-style-position: inside;
  }
}
.field_with_errors {
  @extend .has-error;
}
/*------------------------------------------------------------------------------
Top
------------------------------------------------------------------------------*/
#Top {
  h1 {
    padding: 50px;
    font-size: 60px;
    text-align: center;
  }
}
/*------------------------------------------------------------------------------
Home
------------------------------------------------------------------------------*/
#Home {
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  section.user_info {
    margin-bottom: 10px;
    padding: 5px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    div.avatar {
      float: left;
    }
    div.name {
      margin-left: 10px;
      float: left;
    }
    div.name a {
      color: #333;
      font-weight: bold;
    }
    ul li {
      float: left;
      width: 33%;
      text-align: center;
    }
    ul li div.status_label {
      font-size:12px;
    }
    ul li a {
      font-weight: bold;
    }
  }
  section.timbre_form {
    padding: 5px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    text-align: center;
  }
  section.timbre_list {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    li {
      padding: 5px;
      border-bottom: 1px solid #e6e6e6;
    }
    li:last-child {
      border-bottom: none;
    }
    div.avatar,
    div.content {
      float: left;
    }
    div.content {
      margin-left: 10px;
    }
    div.info {
      font-size: 12px;
    }
  }
}

/*------------------------------------------------------------------------------
Signup
------------------------------------------------------------------------------*/
#Signup {
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
}
/*------------------------------------------------------------------------------
Login
------------------------------------------------------------------------------*/
#Login {
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
}
/*------------------------------------------------------------------------------
Settings
------------------------------------------------------------------------------*/
#Settings {
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
}
/*------------------------------------------------------------------------------
Profile
------------------------------------------------------------------------------*/
#Profile {
  section.user_info {
    margin-bottom: 10px;
    padding: 5px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    div.avatar {
      float: left;
    }
    div.name {
      margin-left: 10px;
      float: left;
    }
    div.name a {
      color: #333;
      font-weight: bold;
    }
    ul li {
      float: left;
      width: 33%;
      text-align: center;
    }
    ul li div.status_label {
      font-size:12px;
    }
    ul li a {
      font-weight: bold;
    }
  }
  section.timbre_list {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    li {
      padding: 5px;
      border-bottom: 1px solid #e6e6e6;
    }
    li:last-child {
      border-bottom: none;
    }
    div.avatar,
    div.content {
      float: left;
    }
    div.content {
      margin-left: 10px;
    }
    div.info {
      font-size: 12px;
    }
  }
}
