<footer>
  <div class="container">
  <div class="row">
  <div class="col-sm-2">
    <div class="copyright">&copy <%= Date.today.year %> <i class="fa fa-microphone"></i> オトグラム(仮).</div>
  </div>
  <ul class="clearfix col-sm-4 col-sm-offset-6">
    <li>
      <h3>SUPPORT</h3>
      <a href="">利用規約</a>
      <a href="">プライバシーポリシー</a>
    </li>
    <li>
      <h3>FOLLOW ME</h3>
      <a href="https://twitter.com/takabo_beta" target="target"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="http://takabo-beta.hatenablog.com/" target="target"><i class="fa fa-pencil"></i> Blog</a>
    </li>
  </ul>
  </div>
  </div>
</footer>